<!DOCTYPE html>
<html>
<head>
	<style>
		* { margin:0; padding:0; font-size:11px; font-family:arial; color:#444; }
		body { padding:20px; }
		#message-list { list-style-type:none; width:300px; height:300px; overflow:auto; border:1px solid #999; padding:20px; }
		#message-list li { border-bottom:1px solid #ccc; padding-bottom:2px; margin-bottom:5px; }
		code { font-family:courier; background:#eee; padding:2px 4px; }
	</style>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script>

		// Create SocketIO instance
		//var socket = io.connect("http://localhost:3000");
		
		// socket.on('news', function (data) {
		//     console.log(data);
		// 	socket.emit('my other event', { my: 'data' });
		// });


		window.onload = function() {
 
		    var messages = [];
		    var socket = io.connect(window.location.hostname);
		    var field = document.getElementById("field");
		    var sendButton = document.getElementById("send");
		    var content = document.getElementById("content");
		    var name = document.getElementById("name");
		 
		    socket.on('message', function (data) {
		        if(data.message) {
		            messages.push(data);
		            var html = '';
		            for(var i=0; i<messages.length; i++) {
		                html += '<b>' + (messages[i].username ? messages[i].username : 'Server') + ': </b>';
		                html += messages[i].message + '<br />';
		            }
		            content.innerHTML = html;
		        } else {
		            console.log("There is a problem:", data);
		        }
		    });
		 
		    sendButton.onclick = function() {
		        if(name.value == "") {
		            alert("Please type your name!");
		        } else {
		            var text = field.value;
		            socket.emit('send', { message: text, username: name.value });
		        }
		    };
		 
		}
		
	</script>
</head>
<body>
	<div id="content" style="height:200px; width:500px; border: 1px solid;"></div>
	

    <input id="name" placeholder='Enter your name' style='margin-top:15px; margin-bottom:10px; padding:5px;' />
    <br/>
    <input id="field" placeholder='Type your message here .. ' style='width:250px; padding:5px;' />
    <input id="send" type='button' value='send' />
	
</body>
</html>